.cover__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 1184px;
    min-height: 740px;
    background-color: rgba(42 44 47 / .3);
}

.cover__link:hover{
    background-color: rgba(42 44 47 / .8);
}
