 .place__paragraph{
    margin: 0;
    margin-bottom: 26px;
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.place__paragraph:nth-child(2n){
    margin-top: 0;
    margin-bottom: 0;
}
