.cover{
    margin: 0 auto 92px;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../images/__background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
