.footer__nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:660px){
    .footer__nav{
        margin-bottom: 10px;
    }
}

@media screen and (max-width:425px){
    .footer__nav{
        flex-direction: column;
        margin-bottom: 48px;
    }
}